@charset "utf-8";

p {
     color: #333;
     font-weight: 700;
}

span.title {
     color: #192336;
}

.yt div iframe {
     border: .5px solid #192336;
}

article {
     background-color: #fff;
}
span.info::before{
     background-color: #192336;
}